body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.color{
    color: orchid;
}
p{
    text-align: justify;
}
.flex-container{
    display: flex;
    margin-bottom: 200px;
}
.half-portion{
    width: 50%;
    padding-left: 3%;
}
.half-portion img{
    width: 80% ;

}
.linked-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red, tomato);
    border-radius: 5px;
    color: white;
    font: 400;
    
}
.top-banner{
    background-image: url(developer-portfolio/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(developer-portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-Y: 150px;
 

}
.text{
    padding-right: 20%;

}
.experience-item{
    box-shadow: 10px 10px 40px grey;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding:0 20px;
    border-radius: 30px;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url(developer-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
}
#first-box{
    border-left: 5px solid;
    border-image: linear-gradient(pink, aqua);
    border-image-slice: 1;
    border-radius: 10px;
}
#second-box{
    border-left: 5px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
    border-radius: 10px;
}
footer p{
    text-align: center;
    tab-size: small;
}